*{
    margin:0px;
    padding:0px;
    border: 0;
    box-sizing: border-box;
}
.full-height{
    height:100vh;
}
.full-width{
    width:100%;
}
.flex{
    display: flex;
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.center{
    justify-content: center;
    align-items: center;
}
.circle{
    border-radius: 50%;
}
.nav-bar{
    height:10vh;
    background-color:#40E0D0;
    align-items: center;
}
.nav-content{
    gap:30em;
    justify-content: space-evenly;

}
.title-logo{
    gap:0.5em;
    margin-left:1em;
}
.logo{
    width:50px;
    height:50px;
}
.title-logo img{
    object-fit: cover;
    width:100%;
    height:100%;
}
.input input{
    width:20em;
    height:3em;
    border-radius: 7px;
    padding:5px;
    border:1px solid black;
    outline: none;
}
input::placeholder{
    color:#aaa;
}
.profile{
    width:50px;
    height:50px;
    border:1.5px solid black
}
.profile img{
    object-fit:fill;
    width:100%;
    height:100%;

}
.side-menu{
    width:14%;
    background-color:#40E0D0;
    overflow:hidden;
    position: relative;
}
.side-menu:hover{
    width:17%;
    transition:width 0.3s ease;
}
.side-menu:not(:hover) {
    width: 14%;
    transition:width 0.3s ease;
}
.side-menu-items{
    padding-top:1em;
    gap:1.29em;
}

.side-menu-items li{
    list-style: none;
    transition: background-color 0.3s ease;
    padding-left:10%;
    position: relative;
    
}
.fas.fa-caret-right.right {
   position:absolute;
   right:15px;
   margin-left:5px;
}
.side-menu-items li:hover{
    background-color: rgba(0, 0, 0, 0.1); 
}
.side-menu-items i{
    padding-right:0.2em;
}

.side-menu-items li a {
    text-decoration: none;
    color:black;
    font-size:1.3em;
    display: block;
    padding-bottom: 0.5em ; 
    font-weight: 600;
}
.side-menu-items li a:hover {
    transform: scale(1.1);
    color: white;
}
.charts-container{
    width:100%;
    display: flex;
    border:2px solid red;
    color:black;
}
.big-container{
    border:2px solid black;
    width:60%;
    padding:5em 1em;
    margin:1em;
    border-radius: 12px;
}
.small-containers {
    display: flex;
    width:40%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid orange;
    padding:1em;
}

.small-container{
    border-radius: 12px;
    width:50%;
    height:50%;
    padding:2em;
    border:2px solid pink;
    color: blue;
}
