.full-height{
    height:100vh;
}
.full-width{
    width:100%;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.center{
    justify-content: center;
    align-items: center;
}
.circle{
    border-radius: 50%;
}

